section#soon.col-12
  .container
    h3.taped Coming Soon...
    .content
      ul.list-group
        li.list-group-item
          h4 Query Builder
          p Quickly create, merge and edit complex Collection Queries
        li.list-group-item
          h4 Relations
          p Form one to one, one to many and many to many record associations
        li.list-group-item
          h4 User Roles
          p Grant access permissions and restrict user access to sensitive data
        li.list-group-item
          h4 Geo Points
          p Use real-world coordinates to create location aware apps 
        li.list-group-item
          h4 Files
          p Create record associations with or Delete your uploaded files
        li.list-group-item
          h4 Cloud Functions
          p Call your custom Cloud Front functions from your Backbone App